{
    "swagger": "2.0",
    "info": {
        "title": "trueFly's system for wechat",
        "description": "trueFly's system for wechat \u63a5\u53e3\u6587\u6863, V1-0.<br>\r\n\u4ee5\u540e\u5927\u5bb6\u5c31\u5728\u8fd9\u91cc\u6109\u5feb\u7684\u5bf9\u63a5\u53e3\u628a!<br>\r\n\u4ee5\u540e\u5927\u5bb6\u5c31\u5728\u8fd9\u91cc\u6109\u5feb\u7684\u5bf9\u63a5\u53e3\u628a!<br>\r\n\u4ee5\u540e\u5927\u5bb6\u5c31\u5728\u8fd9\u91cc\u6109\u5feb\u7684\u5bf9\u63a5\u53e3\u628a!<br>\r\n",
        "version": "1.0"
    },
    "host": "edu.natapp1.cc/wechat/public",
    "schemes": [
        "http"
    ],
    "consumes": [
        "multipart/form-data"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/god/index/getQrCodeCount": {
            "post": {
                "tags": [
                    "God"
                ],
                "summary": "\u4ece\u5fae\u4fe1\u670d\u52a1\u5668\u4e2d\u83b7\u53d6\u4e00\u5b9a\u6570\u91cf\u7684\u4e8c\u7ef4\u7801",
                "description": "\u4ece\u5fae\u4fe1\u670d\u52a1\u5668\u4e2d\u83b7\u53d6\u4e00\u5b9a\u6570\u91cf\u7684\u4e8c\u7ef4\u7801\uff0c\u63d0\u524d\u83b7\u53d6",
                "operationId": "getOrCodeCount",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "count",
                        "in": "formData",
                        "description": "\u6570\u91cf",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/scene/admin/getSceneList": {
            "post": {
                "tags": [
                    "Scene"
                ],
                "summary": "\u83b7\u5f97\u6e20\u9053\u5217\u8868",
                "description": "\u6d3b\u52a8\u6e20\u9053\u5217\u8868\uff0c\u7528\u4e8e\u67e5\u770b\u6e20\u9053\u4fe1\u606f",
                "operationId": "getSceneList",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "formData",
                        "description": "\u5f53\u524d\u9875",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "pageSize",
                        "in": "formData",
                        "description": "\u9875\u5bb9\u91cf",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/scene/admin/addOneScene": {
            "post": {
                "tags": [
                    "Scene"
                ],
                "summary": "\u589e\u52a0\u4e00\u4e2a\u6e20\u9053\u4fe1\u606f",
                "description": "\u5355\u4e2a\u6dfb\u52a0\u6e20\u9053\u4fe1\u606f",
                "operationId": "addOneScene",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "nameCn",
                        "in": "formData",
                        "description": "\u6e20\u9053\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sceneType",
                        "in": "formData",
                        "description": "\u6e20\u9053\u7c7b\u578b",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "province",
                        "in": "formData",
                        "description": "\u7701\u4efd",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "\u8054\u7cfb\u65b9\u5f0f",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "formData",
                        "description": "\u57ce\u5e02",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "area",
                        "in": "formData",
                        "description": "\u533a\u57df",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "addressCn",
                        "in": "formData",
                        "description": "\u5177\u4f53\u5730\u5740",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "startDate",
                        "in": "formData",
                        "description": "\u6709\u6548\u5f00\u59cb\u65e5\u671f",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "endDate",
                        "in": "formData",
                        "description": "\u6709\u6548\u622a\u81f3\u65e5\u671f",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/scene/admin/modifyScene": {
            "post": {
                "tags": [
                    "Scene"
                ],
                "summary": "\u4fee\u6539\u4e00\u4e2a\u6e20\u9053\u4fe1\u606f",
                "description": "\u4fee\u6539\u6e20\u9053\u4fe1\u606f",
                "operationId": "modifyScene",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "\u6e20\u9053\u8868id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "nameCn",
                        "in": "formData",
                        "description": "\u6e20\u9053\u540d",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sceneType",
                        "in": "formData",
                        "description": "\u6e20\u9053\u7c7b\u578b",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "province",
                        "in": "formData",
                        "description": "\u7701\u4efd",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "\u8054\u7cfb\u65b9\u5f0f",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "formData",
                        "description": "\u57ce\u5e02",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "area",
                        "in": "formData",
                        "description": "\u533a\u57df",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "addressCn",
                        "in": "formData",
                        "description": "\u5177\u4f53\u5730\u5740",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "startDate",
                        "in": "formData",
                        "description": "\u6709\u6548\u5f00\u59cb\u65e5\u671f",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "endDate",
                        "in": "formData",
                        "description": "\u6709\u6548\u622a\u81f3\u65e5\u671f",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/scene/admin/deleteOneScene": {
            "post": {
                "tags": [
                    "Scene"
                ],
                "summary": "\u5220\u9664\u4e00\u4e2a\u6e20\u9053\u4fe1\u606f",
                "description": "\u5176\u5b9e\u662f\u4fee\u6539\u6e20\u9053\u72b6\u6001\u4fe1\u606f",
                "operationId": "addOneScene",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "\u6e20\u9053\u8868id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/scene/admin/deleteScenes": {
            "post": {
                "tags": [
                    "Scene"
                ],
                "summary": "\u6279\u91cf\u5220\u9664\u6e20\u9053\u4fe1\u606f",
                "description": "\u5176\u5b9e\u662f\u4fee\u6539\u4e86\u6e20\u9053\u72b6\u6001\u4fe1\u606f",
                "operationId": "deleteScenes",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ids",
                        "in": "formData",
                        "description": "\u6e20\u9053\u8868id\u6570\u7ec4",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/scene/admin/addScenes": {
            "post": {
                "tags": [
                    "Scene"
                ],
                "summary": "\u6279\u91cf\u5bfc\u5165\u6e20\u9053\u4fe1\u606f",
                "description": "\u4e0a\u4f20csv\u6587\u4ef6\uff0c\u6279\u91cf\u5bfc\u5165\u6e20\u9053\u4fe1\u606f",
                "operationId": "addScenes",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sceneFile",
                        "in": "formData",
                        "description": "\u6e20\u9053csv\u6587\u4ef6",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/scene/admin/downloadScenes": {
            "post": {
                "tags": [
                    "Scene"
                ],
                "summary": "\u6253\u5305\u4e0b\u8f7d\u6e20\u9053\u4fe1\u606f",
                "description": "\u6253\u5305\u4e0b\u8f7d\u6e20\u9053\u4fe1\u606f,zip\u683c\u5f0f",
                "operationId": "downloadScenes",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/system/admin/logout": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u6ce8\u9500\u767b\u5f55",
                "description": "\u7ba1\u7406\u5458\u6ce8\u9500\u767b\u5f55",
                "operationId": "logout",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/system/admin/addSystemInfo": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u6dfb\u52a0\u5fae\u4fe1\u7cfb\u7edf\u5fc5\u8981\u4fe1\u606f",
                "description": "\u6dfb\u52a0\u5fae\u4fe1\u7cfb\u7edf\u5fc5\u8981\u4fe1\u606f\uff0c\u5982appid\u7b49\uff0c\u9002\u7528\u8d85\u7ea7\u7ba1\u7406\u5458",
                "operationId": "addSystemInfo",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "appid",
                        "in": "formData",
                        "description": "\u5fae\u4fe1appid",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "appsecret",
                        "in": "formData",
                        "description": "\u5fae\u4fe1 appsecret",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "\u5fae\u4fe1token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "aesKey",
                        "in": "formData",
                        "description": "\u5bc6\u94a5",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/system/admin/modifySystemInfo": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u4fee\u6539\u5fae\u4fe1\u7cfb\u7edf\u5fc5\u8981\u4fe1\u606f",
                "description": "\u4fee\u6539\u5fae\u4fe1\u7cfb\u7edf\u5fc5\u8981\u4fe1\u606f\uff0c\u5982appid\u7b49,\u9002\u7528\u8d85\u7ea7\u7ba1\u7406\u5458",
                "operationId": "modifySystemInfo",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "\u8bb0\u5f55id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "appid",
                        "in": "formData",
                        "description": "\u5fae\u4fe1appid",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "appsecret",
                        "in": "formData",
                        "description": "\u5fae\u4fe1 appsecret",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "\u5fae\u4fe1token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "aesKey",
                        "in": "formData",
                        "description": "\u5bc6\u94a5",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/system/admin/getSystemInfo": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u83b7\u5f97\u5fae\u4fe1\u7cfb\u7edf\u5fc5\u8981\u4fe1\u606f",
                "description": "\u83b7\u5f97\u5fae\u4fe1\u7cfb\u7edf\u5fc5\u8981\u4fe1\u606f\uff0c\u5982appid\u7b49\uff0c\u9002\u7528\u6240\u6709\u7ba1\u7406\u5458",
                "operationId": "getSystemInfo",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/system/admin/getUserInfo": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u83b7\u5f97\u7528\u6237\u4fe1\u606f",
                "description": "\u83b7\u5f97\u7528\u6237\u4fe1\u606f\uff0c\u5982adminName\u7b49,\u9002\u7528\u6240\u6709\u7ba1\u7406\u5458",
                "operationId": "getUserInfo",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "userId",
                        "in": "formData",
                        "description": "\u7528\u6237Id",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/system/admin/modifyUserInfo": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u4fee\u6539\u7528\u6237\u4fe1\u606f",
                "description": "\u4fee\u6539\u7528\u6237\u4fe1\u606f\uff0c\u5982adminName\u7b49,\u53ea\u6709\u8d85\u7ea7\u7ba1\u7406\u5458\u624d\u80fd\u4fee\u6539\u5176\u4ed6\u7ba1\u7406\u5458\u7684\u4fe1\u606f",
                "operationId": "modifyUserInfo",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "userId",
                        "in": "formData",
                        "description": "\u7528\u6237Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "adminName",
                        "in": "formData",
                        "description": "\u7528\u6237\u540d",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u7528\u6237\u5bc6\u7801",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "\u7528\u6237\u72b6\u6001",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/system/admin/addAdminUser": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u589e\u52a0\u7ba1\u7406\u5458",
                "description": "\u589e\u52a0\u4e00\u4e2a\u666e\u901a\u7ba1\u7406\u5458\uff0c\u9488\u5bf9\u8d85\u7ea7\u7ba1\u7406\u5458",
                "operationId": "addAdminUser",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "userId",
                        "in": "formData",
                        "description": "\u7528\u6237Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "adminName",
                        "in": "formData",
                        "description": "\u7528\u6237\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u7528\u6237\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/system/admin/getAdminList": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u83b7\u5f97\u7ba1\u7406\u5458\u5217\u8868",
                "description": "\u83b7\u5f97\u7ba1\u7406\u5458\u5217\u8868\uff0c\u9488\u5bf9\u8d85\u7ea7\u7ba1\u7406\u5458\uff0c\u7528\u4e8e\u67e5\u770b\u6216\u4fee\u6539\u4fe1\u606f",
                "operationId": "getAdminList",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "formData",
                        "description": "\u5f53\u524d\u9875",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "pageSize",
                        "in": "formData",
                        "description": "\u9875\u5bb9\u91cf",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/system/index/login": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u7ba1\u7406\u5458\u767b\u9646\u63a5\u53e3\uff08\u7528\u6237id+\u5bc6\u7801\uff09",
                "description": "\u666e\u901a\u7ba1\u7406\u5458\u53ca\u8d85\u7ba1\u767b\u9646\u8be5\u7cfb\u7edf\uff0c\u8fdb\u884c\u76f8\u5173\u64cd\u4f5c",
                "operationId": "systemLogin",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "formData",
                        "description": "\u7ba1\u7406\u5458\u5185\u90e8\u552f\u4e00\u6807\u8bc6\u7b26",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u767b\u5f55\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        }
    },
    "definitions": {},
    "tags": [
        {
            "name": "System",
            "description": "\u7cfb\u7edf\u7528\u6237"
        },
        {
            "name": "Analysis",
            "description": "\u7edf\u8ba1\u5206\u6790"
        },
        {
            "name": "AutoReply",
            "description": "\u81ea\u52a8\u56de\u590d"
        },
        {
            "name": "Comment",
            "description": "\u7559\u8a00\u8bc4\u8bba"
        },
        {
            "name": "Common",
            "description": "\u516c\u5171\u6a21\u5757"
        },
        {
            "name": "Content",
            "description": "\u6587\u7ae0\u5185\u5bb9"
        },
        {
            "name": "Menu",
            "description": "\u83dc\u5355"
        },
        {
            "name": "Scene",
            "description": "\u6e20\u9053"
        },
        {
            "name": "God",
            "description": "\u4e0a\u5e1d"
        }
    ]
}