{
    "swagger": "2.0",
    "info": {
        "title": "trueFly's system for wechat",
        "description": "trueFly's system for wechat \u63a5\u53e3\u6587\u6863, V1-0.<br>\r\n\u4ee5\u540e\u5927\u5bb6\u5c31\u5728\u8fd9\u91cc\u6109\u5feb\u7684\u5bf9\u63a5\u53e3\u628a!<br>\r\n\u4ee5\u540e\u5927\u5bb6\u5c31\u5728\u8fd9\u91cc\u6109\u5feb\u7684\u5bf9\u63a5\u53e3\u628a!<br>\r\n\u4ee5\u540e\u5927\u5bb6\u5c31\u5728\u8fd9\u91cc\u6109\u5feb\u7684\u5bf9\u63a5\u53e3\u628a!<br>\r\n",
        "version": "1.0"
    },
    "host": "edu.natapp1.cc/wechat/public",
    "schemes": [
        "http"
    ],
    "consumes": [
        "multipart/form-data"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/admin/admin/logout": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u6ce8\u9500\u767b\u5f55",
                "description": "\u7ba1\u7406\u5458\u6ce8\u9500\u767b\u5f55",
                "operationId": "logout",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/admin/admin/addSystemInfo": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u6dfb\u52a0\u5fae\u4fe1\u7cfb\u7edf\u5fc5\u8981\u4fe1\u606f",
                "description": "\u6dfb\u52a0\u5fae\u4fe1\u7cfb\u7edf\u5fc5\u8981\u4fe1\u606f\uff0c\u5982appid\u7b49",
                "operationId": "addSystemInfo",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "SESSION_ID",
                        "in": "formData",
                        "description": "\u4ee4\u724c\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "appid",
                        "in": "formData",
                        "description": "\u5fae\u4fe1appid",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "appsecret",
                        "in": "formData",
                        "description": "\u5fae\u4fe1 appsecret",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "\u5fae\u4fe1token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "aesKey",
                        "in": "formData",
                        "description": "\u5bc6\u94a5",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/admin/index/systemLogin": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u7ba1\u7406\u5458\u767b\u9646\u63a5\u53e3\uff08\u7528\u6237id+\u5bc6\u7801\uff09",
                "description": "\u666e\u901a\u7ba1\u7406\u5458\u53ca\u8d85\u7ba1\u767b\u9646\u8be5\u7cfb\u7edf\uff0c\u8fdb\u884c\u76f8\u5173\u64cd\u4f5c",
                "operationId": "systemLogin",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "formData",
                        "description": "\u7ba1\u7406\u5458\u5185\u90e8\u552f\u4e00\u6807\u8bc6\u7b26",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u767b\u5f55\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/system/index/systemLogin": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "\u7ba1\u7406\u5458\u767b\u9646\u63a5\u53e3\uff08\u7528\u6237id+\u5bc6\u7801\uff09",
                "description": "\u666e\u901a\u7ba1\u7406\u5458\u53ca\u8d85\u7ba1\u767b\u9646\u8be5\u7cfb\u7edf\uff0c\u8fdb\u884c\u76f8\u5173\u64cd\u4f5c",
                "operationId": "systemLogin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "formData",
                        "description": "\u7ba1\u7406\u5458\u5185\u90e8\u552f\u4e00\u6807\u8bc6\u7b26",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u767b\u5f55\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        }
    },
    "definitions": {},
    "tags": [
        {
            "name": "System",
            "description": "\u7cfb\u7edf\u7528\u6237"
        },
        {
            "name": "Analysis",
            "description": "\u7edf\u8ba1\u5206\u6790"
        },
        {
            "name": "AutoReply",
            "description": "\u81ea\u52a8\u56de\u590d"
        },
        {
            "name": "Comment",
            "description": "\u7559\u8a00\u8bc4\u8bba"
        },
        {
            "name": "Common",
            "description": "\u516c\u5171\u6a21\u5757"
        },
        {
            "name": "Content",
            "description": "\u6587\u7ae0\u5185\u5bb9"
        },
        {
            "name": "Menu",
            "description": "\u83dc\u5355"
        },
        {
            "name": "Scene",
            "description": "\u6e20\u9053"
        }
    ]
}